/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px;
}

.top-nav {
    display: flex;
    justify-content: center;
    background-color: #0056b3;
    padding: 10px;
}

.top-nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #007bff;
    border-radius: 5px;
}

.top-nav a:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    /*max-width: 1200px;*/
    width: 100%;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar {
    /*width: 250px;
    margin-right: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/

    width: 350px; /* ou 20%, ou o valor que preferir */
    background-color: #f0f0f0;
    padding: 1em;
    box-sizing: border-box;
    flex-shrink: 0; /* impede que a sidebar diminua */
}

main {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Responsivo - Telas menores que 768px (tablets e celulares) */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Sidebar sobe e vira barra acima do main */
  }
}

footer {
    text-align: center; 
    font-size: smaller;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 20px;
    position: fixed; /*rodapé fique sempre visível, fixo mesmo com rolagem*/
    bottom: 0;
    width: 100%;
}

p {
    text-align: justify;
    text-indent: 0.5cm;
}